.div_all {
  text-align: center;
}

#bonnerep,
#iconbonnerep {
  color: green;
}

#mauvaiserep,
#iconmauvaiserep {
  color: red;
}

#right_ans {
  --ripple-color: green;
}

#wrong_ans {
  --ripple-color: red;
}

#gif_score {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 10px;
}

#title {
  font-size: larger;
  font-weight: bold;
  color: #5f9ea0;
}

#alerteAbandon {
  text-align: left;
}

#label_pays {
  margin-top: -2%;
}

a {
  font-size: 75px;
}
