body {
  text-align: center;
}

#nom_pays {
  font-weight: bold;
}

#nom_capitale {
  font-weight: bold;
}

#drapeau {
  width: 50px;
  margin-right: 2%;
  border: 1px solid darkgrey;
}

h2,
h3 {
  margin: 2%;
}

ion-img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flecheretour {
  margin-top: 5%;
}

h4 {
  margin-top: 5%;
}

#justifie {
  text-align: justify;
}
